<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alpha Blog</title>
    <style media="screen">
      img{
        width: 300px;
        heigh: 200px;
        margin-left: 50px;
    </style>
  </head>
  <body>
    <header>
      <ul>
        <li>Hello</li>
        <li>Hey There</li>
        <li><%= link_to 'Home', root_path %></li>
      </ul>
    </header>
    <container class="grid-container">
      <div class="article">
        <h1>Welcome to my blog</h1>
        <ul>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia nulla vel rhoncus lobortis. Donec nulla ipsum, rutrum vitae augue et, vehicula mattis ipsum. Morbi eu massa a enim tincidunt tristique ac sed felis. Vivamus imperdiet nibh eget odio pulvinar semper. Integer placerat mollis nunc, ac finibus purus.</li>
          <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia nulla vel rhoncus lobortis. Donec nulla ipsum, rutrum vitae augue et, vehicula mattis ipsum. Morbi eu massa a enim tincidunt tristique ac sed felis. Vivamus imperdiet nibh eget odio pulvinar semper. Integer placerat mollis nunc, ac finibus purus.</li>
        </ul>
      </div>
    </container>
    <footer><p>All rights reserved.</p></footer>
  </body>
</html>
