<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Alpha Blog</title>
  </head>
  <body>
    <container class="grid-container">
      <div class="article">
        <h1 align="center">Welcome to Alpha Blog!</h1>
        <ul class="center jumbotron" id="about">
          <li class="col-md-3 col-md-offset-1 about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia nulla vel rhoncus lobortis. Donec nulla ipsum, rutrum vitae augue et, vehicula mattis ipsum. Morbi eu massa a enim tincidunt tristique ac sed felis. Vivamus imperdiet nibh eget odio pulvinar semper. Integer placerat mollis nunc, ac finibus purus.</li>
          <li class="col-md-3 about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia nulla vel rhoncus lobortis. Donec nulla ipsum, rutrum vitae augue et, vehicula mattis ipsum. Morbi eu massa a enim tincidunt tristique ac sed felis. Vivamus imperdiet nibh eget odio pulvinar semper. Integer placerat mollis nunc, ac finibus purus.</li>
          <li class="col-md-3 about">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean lacinia nulla vel rhoncus lobortis. Donec nulla ipsum, rutrum vitae augue et, vehicula mattis ipsum. Morbi eu massa a enim tincidunt tristique ac sed felis. Vivamus imperdiet nibh eget odio pulvinar semper. Integer placerat mollis nunc, ac finibus purus.</li>
        </ul>
      </div>
    </container>
  </body>
</html>
