$navbar-default-bg: darkred;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo{
  float: left;
  font-size: 1.7em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}

#logo:hover{
  color: black;
  text-decoration: none;
}

.center{
  text-align: center;
}

.jumbotron{
  background-image: asset-url('download.jpeg');
  background-size: cover;
  height: 600px;
}

.jumbotron h1{
  color: rgba(0,0,0,0.85);
  margin-top: 50px;
  margin-bottom: 180px;
  letter-spacing: -1px;
  font-weight: bold;
}

.btn-xlarge{
  font-size: 1.7em;
  background-color: black;
}

body{
  background-color: rgba(0,0,0,0.9);
}

.article-actions{
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.description{
  margin-top: 0;
}

.article-title{
  font-weight: bold;
  font-size: 1.7em;
}

.red{
    color: darkred;
}

.article-body{
  border-top: 1px solid #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 1.2em;
}

footer{
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a:hover{
  color: red;
}

footer small{
  float: left;
}

footer ul{
  float: right;
  list-style: none;
}

footer ul li{
  float: left;
  margin-left: 15px;
}

.well{
  background-color: rgba(0,0,0,0.3);
}
